img {
    width: 200px;
    height: 180px;

}
#demo {
    // margin-top: 50px;
    
    // padding-top: 50px;
    display: inline;
    padding-left: 20px;
   
}
#demo1 {
    display: inline;
   
}
#demo1 {
    padding-left: 95px;
}
.container {
    padding-top: 30px;
}

    
